<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00472905</ion-title>

    <ion-buttons slot="end">
      <!-- Общее сердце: пустое если избранного нет, полное если есть -->
      <ion-button routerLink="/favourites">
        <ion-icon [name]="hasAnyFavourites ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>

      <ion-button routerLink="/settings">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let r of recipes">
      <ion-label>{{ r.title }}</ion-label>

      <!-- Сердце конкретного рецепта -->
      <ion-button slot="end" (click)="toggleFavourite(r.id)">
        <ion-icon [name]="isFavourite(r.id) ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
