<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00472905</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/favourites">
        <ion-icon [name]="hasAnyFavourites ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
      <ion-button routerLink="/settings">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
<ion-item>
    <ion-label position="floating">Enter Ingredients</ion-label>
    <ion-input 
      [(ngModel)]="ingredients" 
      placeholder="carrots,beef,potatoes"
      (keyup.enter)="search()"> </ion-input>
  </ion-item>
  
  <ion-button expand="block" (click)="search()" class="ion-margin-top ion-margin-bottom">
    SEARCH
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let r of recipes" lines="none" class="recipe-item">
      
      <div style="width: 100%; border: 1px solid #ccc; border-radius: 8px; margin-bottom: 15px; overflow: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1); text-align: center;">
        
        <img 
            [src]="r.image" 
            style="width: 100%; max-width: 400px; height: auto; display: block; margin: 0 auto;" 
            alt="Recipe Image"
        />
        
        <div style="padding: 10px; text-align: left;">
          <h2 style="font-size: 1.1em; font-weight: bold; margin-bottom: 10px;">{{ r.title }}</h2>
          
          <div style="display: flex; justify-content: space-between; align-items: center;">
            
            <ion-button size="small" [routerLink]="['/recipe-details', r.id]">
              DETAILS
            </ion-button>

            <ion-button fill="clear" (click)="toggleFavourite(r.id)">
              <ion-icon 
                slot="icon-only" 
                [color]="isFavourite(r.id) ? 'danger' : 'medium'" 
                [name]="isFavourite(r.id) ? 'heart' : 'heart-outline'">
              </ion-icon>
            </ion-button>

          </div>
        </div>

      </div>
    </ion-item>
  </ion-list>

</ion-content>