<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Enable US Units (cups/lb)</ion-label>
    
    <ion-toggle
        [checked]="!isMetric"
        (ionChange)="onUnitsChanged($event)">
    </ion-toggle>
  </ion-item>
  
  <p class="ion-padding-start" style="color: #666; font-size: 0.9em;">
    Toggle <strong>OFF</strong> for Metric (Standard).<br>
    Toggle <strong>ON</strong> for US Units.
  </p>
</ion-content>